extends layout

block content
  h1(id='title')= title
  h2 Introduction
  p
    | There are a lot of people out there that have little to no control
    | over themselves, but, the problem is, society only helps people that
    | could pose a threat to it. Paths is about Hail, a girl trapped in her
    | own mind, struggling to get free.
  p(style='text-indent: 2em')
    | I got the idea for this while I was learning psychocology and a
    | particular question got me thinking:
    b What do you really want?
    | Try and think about it for a second. Make sure
    | it's something you want but don't need. I'm sure that you came up
    | with one or two things but it's unlikely you got much more than that
    | (well done if you did). Our boy Sigmund Freud had an idea that the
    | the reason this was may have been due to the fact that our ID (what
    | he called the part of the brain that controls what we want) is part
    | of our subconscious which means it's not something we can access
    | easily.
  p(style='text-indent: 2em')
    | Some of us have more access to our IDs than others, but Hail, she
    | has none; she lives life needing but never wanting. Imagine that;
    | never knowing what you want.